{{ define "main" }}
<div class="layout">
	{{ partial "logo-heading.html" . }}

	<div class="content">
		<p>
			Hi! I'm Ishmaam. I'm a 20-year-old student and software developer. You may enjoy reading some of the
			<a href="/writing">articles</a> I've written.
		</p>

		<p>
			<strong>Reach out:</strong>&nbsp;&nbsp;
			<a href="mailto:ishmaam@extroonie.com" title="Email: ishmaam@extroonie.com">
				<img
					src="/images/icons/envelope-fill.svg"
					alt="Email"
					width="18"
					height="18"
					style="vertical-align: middle"
					class="icon"
				/> </a
			>&nbsp;&nbsp;
			<a title="Discord: Extroonie">
				<img
					src="/images/icons/discord.svg"
					alt="Discord"
					width="18"
					height="18"
					style="vertical-align: middle"
					class="icon"
				/> </a
			>&nbsp;&nbsp;
			<a
				href="https://signal.me/#eu/ZowsAT4NJCOyeG4SrCxT_02-yCidvGI73x3GycgIt1SdfH3J_o1NpYBnFGZua8Lk"
				rel="noopener noreferrer"
				target="_blank"
				title="Signal: Extroonie.01"
			>
				<img
					src="/images/icons/signal.svg"
					alt="Signal"
					width="18"
					height="18"
					style="vertical-align: middle"
					class="icon"
				/> </a
			><br />
			<strong>Find me:</strong>&nbsp;&nbsp;
			<a href="https://github.com/Extroonie" rel="noopener noreferrer" target="_blank" title="GitHub: Extroonie">
				<img
					src="/images/icons/github.svg"
					alt="GitHub"
					width="18"
					height="18"
					style="vertical-align: middle"
					class="icon"
				/> </a
			>&nbsp;&nbsp;
			<a
				href="https://twitter.com/Extroonie"
				rel="noopener noreferrer"
				target="_blank"
				title="Twitter: Extroonie"
			>
				<img
					src="/images/icons/twitter.svg"
					alt="Twitter"
					width="18"
					height="18"
					style="vertical-align: middle"
					class="icon"
				/>
			</a>
		</p>

		<p>
			I have 7 years of experience as a backend software developer. My expertise is in TypeScript and Node.js for
			building server-side applications, with working knowledge of Rust and Go gained through self-directed
			learning. Currently, most of my projects are closed-source, but I plan to publish many of them and work on
			more complex portfolio projects in the near future.
		</p>

		<p>
			I enjoy learning about science, especially physics. I have also developed an appreciation for philosophy and
			enjoy discussing metaphysical questions, how we know things, free will controversies, logical puzzles, and
			more. I'm also into learning about theology and different faiths to get more insightful takes. I simply
			enjoy learning — beyond the horizon.
		</p>
	</div>
</div>
{{ end }}
