{{ define "main" }}
<div class="layout">
  {{ partial "logo-heading.html" . }}

  <div class="content">
    <p>
      Hi! I'm Ishmaam. I'm a 20-year-old student and software developer. You may
      enjoy reading some of the
      <a href="/writing">articles</a> I've written.
    </p>

    <p>
      <strong>Reach out:</strong>&nbsp;&nbsp;<a
        href="mailto:ishmaam@extroonie.com"
        >ishmaam@extroonie.com</a
      >
      or Extroonie on Discord and Extroonie.01 on Signal<br />
      <strong>Find me:</strong>&nbsp;&nbsp;
      <a
        href="https://github.com/Extroonie"
        rel="noopener noreferrer"
        target="_blank"
        >GitHub</a
      >
      <a
        href="https://twitter.com/Extroonie"
        rel="noopener noreferrer"
        target="_blank"
        >Twitter</a
      >
    </p>

    <p>
      I have 6 years of experience as a backend software developer. My expertise
      is in TypeScript and Node.js for building server-side applications, with
      working knowledge of Rust and Go gained through self-directed learning.
      Currently, most of my projects are closed-source, but I plan to publish
      many of them and work on more complex portfolio projects in the near
      future.
    </p>

    <p>
      I enjoy learning about science, especially physics. I have also developed
      an appreciation for philosophy and enjoy discussing metaphysical
      questions, how we know things, free will controversies, logical puzzles,
      and more. I'm also into learning about theology and different faiths to
      get more insightful takes. I simply enjoy learning — beyond the horizon.
    </p>
  </div>
</div>
{{ end }}
